#%RAML 0.8
title: EventNet
version: v1
baseUri: http://eventNet.com/api/v1/
mediaType: application/json
traits:
- formatable:
  queryParameters:
    format:
      description: Force the format to be returned as the format requested here. 'JSON' is only currently implemented format.
      type: string
      required: false
      example: format=json
- pagable:
  queryParameters:
    offset:
      description: Start index of elements to put in response.
      type: integer
      required: false
      example: 20
      default: 0
    limit:
      description: Number of elements in the response
      type: integer
      required: false
      example: 10
      default: 25
- geolocatable:
  queryParameters:
    latitude:
      description: The latitude of the geolocation
      type: number
      required: true
      example: 0.0
    longitude:
      description: The longitude of the geolocation
      type: number
      required: true
      example: 0.0

/networks:
  description: A collection of networks
  get:
    description: Return list of all networks
    is : [
      formatable
    ]
    queryParameters:
      archived:
        description: Include achieved networks
        type: boolean
        required: false
        example: true
        default: false
      latitude:
        description: Latitude of point to search from
        type: number
        required: true
        example: 0.0
      longitude:
        description: Longitude of point to search from
        type: number
        required: true
        example: 0.0
  post:
    description: Create a new network
    is: [
      geolocatable
    ]
    queryParameters:
      networkName:
        description: Name of the networkName
        type: string
        required: true
        example: O2 Arena
  /{networkID}:
    description: A item in the collection of networks.
    get:
      description: Returns information about this network.
      is: [
        geolocatable
      ]
    delete:
      description: Delete this network
    /posts:
      description: A collection of posts
      get:
        description: Return a list of posts
        is: [
          formatable,
          pagable
        ]
        before:
          description: Load posts before than this date
          type: date
          required: false
          example: 2015-12-31 23:59:00
        after:
          description: Load posts after than this date
          type: date
          required: false
          example: 2015-12-31 23:59:00
      post:
        description: Post a post in this network
        is: [
          geolocatable
        ]
        queryParameters:
          userId:
            description: The User ID that created this post
            type: integer
            required: true
            example: 12345
          postContent:
            description: The content of the post
            type: string
            required: true
            example: Test post, please ignore
      /{postId}:
        description: An item in the collection of posts.
        get:
          description: Return the post
        post:
          description: Replace the post content with new content
          queryParameters:
            postContent:
              description: The content of the post
              type: string
              required: true
              example: Test post, please ignore
        put:
          description: Replace the post content with new content
          queryParameters:
            postContent:
              description: The content of the post
              type: string
              required: true
              example: Test post, please ignore
        delete:
          description: Deletes this post
        /comments:
          description:  A collection of comments
          get:
            description: Return a list of comments
            is: [
              formatable,
              pagable
            ]
          post:
            description: Create a new comment
            is: [
              geolocatable
            ]
            queryParameters:
              userId:
                description: The User ID that created this comment
                type: integer
                required: true
                example: 12345
              commentContent:
                description: The content of the comment
                type: string
                required: true
                example: Test comment, please ignore
          /{commentId}:
            description: An item in the collection of comments.
            get:
              description: Return the comment
            post:
              description: Replace the post content with new content
              queryParameters:
                postContent:
                  description: The content of the post
                  type: string
                  required: true
                  example: Test post, please ignore
            put:
              description: Replace the post content with new content
              queryParameters:
                postContent:
                  description: The content of the post
                  type: string
                  required: true
                  example: Test post, please ignore
            delete:
              description: Deletes this comment

/users:
  description: A collection of users
  get:
    description: Return list of all users
    is : [
      formatable,
      pagable
    ]
    queryParameters:
      facebookId:
        description: Facebook ID of user
        type: integer
        required: false
        example: 1
      googleId:
        description: Google ID of user
        type: integer
        required: false
        example: 1
      twitterId:
        description: Twitter ID of user
        type: integer
        required: false
        example: 1
  post:
    description: Create new user with parameters
    queryParameters:
      queryParameters:
        displayName:
          description: User Display name
          type: string
          required: true
          example: Joe
        icon:
          description: User icon
          type: string
          required: true
        facebookId:
          description: Facebook ID of user
          type: integer
          required: false
          example: 1
        googleId:
          description: Google ID of user
          type: integer
          required: false
          example: 1
        twitterId:
          description: Twitter ID of user
          type: integer
          required: false
          example: 1
  /{userId}:
    description: An item in the collection of users.
    get:
      description: Return the users
